@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main {
    background-image: url(assets/images/bg.jpg);
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
}
.main .box {
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;

}
nav{
    max-width: 80vw;
    margin: auto;
    display : flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}
nav img {
    width: 140px;
    position: relative;
    z-index: 10;
}
nav button {
    position: relative;
    z-index: 10;
    cursor: pointer;
}
.hero{
    font-family: 'Martel Sans',sans-serif;
    font-weight: 900;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index:10;
    gap:20px;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3) {
    font-weight: 440;
    font-size: 20px;
    text-align: center;
}
.separation{
    background-color: rgb(73, 71, 71);
    height: 10px;
}
.btn{
    padding: 7px 30px;
    font-weight: bolder;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.108);
}
.red-si{
    background-color: red;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
}
.red-gs{
    background-color: red;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 5px;
}
.hero-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:17px;
}

.main input{
    background-color: rgba(23, 23, 23, 0.2);
    border: 2px solid rgba(192, 182, 182, 0.4);
    padding: 18px 44px;
    border-radius: 5px;
    color: white;
}
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Martel Sans',sans-serif;
    font-weight: 600;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 38px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 14px;
}
.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
    font-family: 'Martel Sans',sans-serif;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
    font-family: 'Martel Sans',sans-serif
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}